---
import Layout from '../layouts/Layout.astro';
const linkStyles = "flex flex-col justify-center items-center px-10 py-5 border-2 border-blue-800 rounded-lg bg-[#007eb8] text-white hover:scale-105 hover:bg-[#2d2e83] trasition duration-200"

---

<Layout title="Recaudo de Impuestos">
	<main class="flex min-h-screen flex-col items-center justify-center gap-5 bg-[#202d54]">
		<h1 class="text-5xl font-semibold m-12 text-white border-b-2 border-white pb-4 rounded-lg">App Recaudos Impuestos Coovitel</h1>
		<div class="flex flex-col w-[80%] gap-2 p-10 rounded-3xl bg-white">
		  	<a href="registros">
				<div class={linkStyles}>
					<h3 class="font-mono text-6xl">Asesores</h3>
					<p class="text-xl">Realizar registros de recaudos</p>
				</div>
			</a>
			<a href="operaciones">
				<div class={linkStyles}>
					<h3 class="font-mono text-6xl">Operaciones</h3>
					<p class="text-xl">Registros de recaudos realizados</p>
				</div>
			</a>
		</div>
	</main>
</Layout>
